.App {
  text-align: left;
}

#body {
  background-color: #fff;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  position: absolute;
  left: 10px;
  top: 0px;
  height: 200px;
}

#logo-navbar{
  height: 40px;
}

.App-header {
  background-color: #fff;
  height: 147px;
  padding: 20px;
  color: white;
  background-size: 100%;
  height: 60px; 
}

.App-title {
  font-size: 2em;
  color: #449ace;
  text-align: center;
}

.App-intro {
  font-size: large;
}

#navbar {
  background-color: #444;
  cursor: pointer;
}
@media all and (min-width: 700px)
{
.container-fluid{
  background-color: #fff;
  background-repeat: no-repeat;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 40px;

}
}

h3 {
  text-align: center;
}

#citation {
  text-align: center;

}

div {
  font-size: 1.05em;
}

#tarif-link {
  color: #449ace;
}

#feet {
  font-size: 1.1em;
  background-color: #444;
  padding: 20px;
  
}

#feetbutton {
  color: #449ace;
  float: right;
}

#badge {
  height: 60px;
  padding: 10px;
}


.container {
  /*background-color: #ecf4fa;*/
  border-radius: 5px;
}


#carroussel{
  max-height: 400px;
}

#breadcrumb {
  cursor: pointer;
}